{
  "presets": ["@babel/react"],
  "ignore": [
    "*/node_modules", 
    "**/__snapshots__", 
    "**/*.d.ts",
    "**/stories", 
    "**/__tests__"
  ],
  "plugins": [
    "@babel/plugin-transform-typescript",
    "babel-plugin-typescript-to-proptypes",
    "@babel/plugin-proposal-export-default-from",
    "@babel/proposal-class-properties",
    "@babel/proposal-object-rest-spread"
  ]
}
